{% extends 'base.html.twig' %}

{% block body %}

    {% if message is defined %}
        {{ message }}
    {% endif %}

    <h1>New password</h1>
    <hr/>
    <form action="{{ path('new_password_action', {'hash' : hash}) }}" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
        <input type="password" name="password" placeholder="password" />
        <input type="password" name="password_confirm" placeholder="password again" />

        <input type="submit" value="set new password" />
    </form>
{% endblock %}
